/Common/bin
/Common/obj
CommonControls/bin/Debug/Common.Controls.pdb
CommonControls/bin/Debug/Common.Controls.exe.config
CommonControls/bin/Debug/Common.Controls.exe
CommonControls/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CommonControls/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CommonControls/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CommonControls/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
CommonControls/obj/Debug/MainWindow.g.i.cs
CommonControls/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CommonControls/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CommonControls/obj/Debug/CommonControls_MarkupCompile.i.cache
CommonControls/obj/Debug/CommonControls.csprojAssemblyReference.cache
CommonControls/obj/Debug/CommonControls.csproj.GenerateResource.cache
CommonControls/obj/Debug/CommonControls.csproj.FileListAbsolute.txt
CommonControls/obj/Debug/CommonControls.csproj.CoreCompileInputs.cache
CommonControls/obj/Debug/Common.Controls_MarkupCompile.i.cache
CommonControls/obj/Debug/Common.Controls_MarkupCompile.cache
CommonControls/obj/Debug/Common.Controls.pdb
CommonControls/obj/Debug/Common.Controls.exe
CommonControls/obj/Debug/App.g.i.cs
CommonControls/obj/Debug/App.g.cs
CommonControls/obj/Debug/AYam.Common.Controls.Properties.Resources.resources
CommonControls/obj/Debug/CommonControls.csproj.CopyComplete
CommonControls/bin/Debug/System.Windows.Interactivity.xml
CommonControls/bin/Debug/System.Windows.Interactivity.dll
CommonControls/bin/Debug/Microsoft.Expression.Interactions.dll
CommonControls/obj/
CommonControls/bin/
Common/.vs/
/CommonWindow
CommonControls/.vs/
